include package.json README.md pyproject.toml requirements.txt requirements-dev.txt
graft scripts
graft src/py/bbctrl/http
graft src/py/camotics
include src/avr/bbctrl-avr-firmware.hex
include src/bbserial/bbserial.ko
global-exclude .gitignore
